.homeBG {
  background: url('https://cdn.discordapp.com/attachments/780837848030380112/929812133288493086/cover_image.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  height: 100vh;
  width: 100wv;
}
body {
  background-color: #040304;
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 12rem;
  flex-direction: column;
}

.home h1 {
  font-size: 3.125rem;
  color: white;
}

.home input {
  text-align: center;
  font-size: 16px;
  width: 26%;
  padding: 10px 48px;
}

.home button {
  background: #f40612;
  font-size: 26px;
  border: none;
  padding: 8px 30px;
  margin-top: 8px;
  border-radius: 4px;
}

.home button a {
  text-decoration: none;
  color: white;
}


.movieCardTitle {
  text-align: center;
  font-size: 1rem;
}

.movieCardImg {
  width: 12rem;
  height: auto;
  display: flex;
  margin: auto;
}

.movieCardLink {
  color: white;
  text-decoration: none;
}

.movieCard {
  border-radius: 8px;
  border: 2px solid black;
  width: 20%;
  margin: 4px;
}

.movieCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}


.coverImg{
  width:auto;
  height:80vh;
  display: flex;
  justify-content: center;
}
.movieBody{
  min-height: 100vh;
  position: relative;
  bottom: 8rem;
}
 
.movieContainer{
  width:80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.movieRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min-content;
  /* margin:1rem; */
}
.movieRating img {
  width: 302px;
  height: auto;
}
.movieRating p {
  color: #FFF;
  font-size: 32px;
}
.movieRating p span {
  font-size: 54px;
}
.movieDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: max-content;
  padding-left: 2rem;
position: relative;
top: 8rem;
}
.movieDescription h1 {
  color: #FFF;
  font-size: 48px;
}
.movieDescription p {
  color: #FFF;
  font-size: 24px;
}
.cardImg{
  width: 100%;
  height: auto;
}
.cast{
  display: flex;
  justify-content: space-around;
  margin: 2rem 5rem;
  }
  .castHeading{
 
  letter-spacing: 4px;
  }
  .castName{
    margin-top: 4rem;
  }
  .castActors{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  }
  .castCircle{
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  }
  .castActorName{
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  }
 
  .actorLink{
    text-decoration: none;
  }
  .actorCard{
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 20px;

  }
  .actor-imgg{
    height: 250px;
    width: 300px;
  }